.nav-link {
  color: white !important;
  font-size: 14px;
}

.nav-link i {
  font-size: 17px !important;
  vertical-align: bottom;
  margin-right: 5px;
}

.col-auto.col-md-3.col-xl-2.px-sm-2.px-0.bg-dark {
  background-image: url('/assets/img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
